{% extends 'base.html.twig' %}

{% block title %}Crée un compte{% endblock %}

{% block body %}
{#
    <h1>Crée un compte</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Adresse mail :'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password :'
        }) }}
        {{ form_row(registrationForm.username, {
            label: 'Pseudo :'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom :'
        }) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Prénom :'
        }) }}
        {{ form_row(registrationForm.picture, {
            label: 'Avatar :'
        }) }}
        {{ form_row(registrationForm.phone_number, {
            label: 'Numéro téléphone :'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions'
        }) }}

        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
#}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="hero min-h-screen bg-black-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Inscription</h1>
                <p class="py-6">Organiser, participer à des tournois avec des joueurs du monde entier et entre amis.</p>
            </div>
            <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-gray-200 m-3">
                <div class="card-body bg-gray-200">

                    <div class="form-control">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.email) }}
                                {{ form_widget(registrationForm.email) }}
                                {{ form_errors(registrationForm.email) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-control">
                        <div class="form-control w-54 block">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.username) }}
                                {{ form_widget(registrationForm.username) }}
                                {{ form_errors(registrationForm.username) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-control">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.lastname) }}
                                {{ form_widget(registrationForm.lastname) }}
                                {{ form_errors(registrationForm.lastname) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-control">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.firstname) }}
                                {{ form_widget(registrationForm.firstname) }}
                                {{ form_errors(registrationForm.firstname) }}
                            </label>
                        </div>
                    </div>
                    {#
                    <div class="form-control">
                        {{ form_row(registrationForm.picture) }}
                    </div>
                    #}

                    <div class="form-control">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.phone_number) }}
                                {{ form_widget(registrationForm.phone_number) }}
                                {{ form_errors(registrationForm.phone_number) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-control">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center flex-col">
                                {{ form_label(registrationForm.plainPassword) }}
                                {{ form_widget(registrationForm.plainPassword) }}
                                {{ form_errors(registrationForm.plainPassword) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-control ">
                        <div class="form-control w-54">
                            <label class="infos-register label flex justify-center">
                                <span class="text-gold label-text m-3">Accepter les conditions</span>
                                <input type="checkbox" class="toggle toggle-accent toggle-sm" required />
                            </label>
                        </div>
                    </div>

                    <div class="form-control">
                        {{ form_row(registrationForm.captcha) }}
                    </div>
                    <div class="form-control mt-6 ">
                        <button class="btn btn-primary">Inscription</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
