{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    {% block profil %}
        <div class="blockProfil">
            <div class="w-full max-w-screen-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                    <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                        <span class="sr-only">Ouvrir la liste déroulante</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                        </svg>
                    </button>
                    <!-- liste menu -->
                    <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2" aria-labelledby="dropdownButton">
                            <li>
                                <a href="{{ path('utilisateur_modifier', {'id': infosProfil.id}) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Modifier</a>
                            </li>
                            <li>
                                <a href="{{ path('utilisateur_desactiver', {'id': infosProfil.id}) }}" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Supprimer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col items-center p-14">
                    <img class="w-32 h-32 mb-3 rounded-full shadow-lg" src="{{ asset(infosProfil.picture) }}" alt="avatar de {{ infosProfil.username }}"/>
                    <h5 class="font-medium text-gray-900 dark:text-white m-4 text-4xl">Mon profil</h5>
                    <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Pseudo : {{ infosProfil.username }}</span>
                    <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Mail : {{ infosProfil.email }}</span>
                    <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Nom : {{ infosProfil.lastname }}</span>
                    <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Prénom : {{ infosProfil.firstname }}</span>
                    <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Numéro tel : {{ infosProfil.phoneNumber }}</span>
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="text-lg text-gray-500 dark:text-gray-400 m-2 text-base">Role : Administrateur</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="blockProfil">
            <div class="w-full max-w-screen-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center p-14">
                    <h5 class="font-medium text-gray-900 dark:text-white m-4 text-4xl">Mes Equipes</h5>
                    {% for team in teams %}
                        <div class="flex items-center mt-4">
                            <a href="{{ path('_detail', {id: team.id}) }}">
                                <img class="w-32 h-32 mb-3 rounded-full shadow-lg" src="{{ asset(team.picture) }}" alt="avatar de {{ team.name }}"/>
                                <span class="text-sm text-gray-500 dark:text-gray-400 m-2 text-base">{{ team.name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="blockProfil">
            <div class="w-full max-w-screen-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center p-14">
                    <h5 class="font-medium text-gray-900 dark:text-white m-4 text-4xl">Mes Tournois</h5>
                    {% for tournament in tournaments %}
                        <div class="hero h-48 m-5 rounded-3xl" style="background-image: url({{ asset(tournament.gamePicture) }});">
                            <div class="hero-overlay bg-opacity-60 rounded-3xl"></div>
                            <div class="hero-content text-center text-neutral-content">
                                <div class="flex items-center mt-4 flex">
                                    <a href="{{ path('tournois_infos', {id: tournament.id}) }}">
                                        <span class="text-2em text-white dark:text-white m-2 text-base flex justify-center underline ">{{ tournament.name |title }}</span>
                                        <span class="text-xl text-white dark:text-white m-2 text-base">Date Debut : {{ tournament.dateBeginTournament |date("d/m/y H:i", "Europe/Paris") }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
