{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <h1>Tournament index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du tournois</th>
                <th>Régles</th>
                <th>Date de début</th>
                <th>Date de création</th>
                <th>Date de fin de tournois</th>
                <th>Date limmite d'inscription</th>
                <th>Nombre d'équipe maximum</th>
                <th>Informations du tournois</th>
                <th>Prix d'entrée</th>
                <th>Récompense 🤑</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.rules }}</td>
                <td>{{ tournament.dateBeginTournament ? tournament.dateBeginTournament|date('d F Y H:i') : '' }}</td>
                <td>{{ tournament.dateCreation ? tournament.dateCreation|date('d F Y H:i') : '' }}</td>
                <td>{{ tournament.dateEndTournament ? tournament.dateEndTournament|date('d F Y H:i') : '' }}</td>
                <td>{{ tournament.dateLimitRegistration ? tournament.dateLimitRegistration|date('d F Y H:i') : '' }}</td>
                <td>{{ tournament.nbTeamMax }}</td>
                <td>{{ tournament.tournamentInfo }}</td>
                <td>{{ tournament.entryPrice }}€</td>
                <td>{{ tournament.reward }}</td>
                <td>
                    <a href="{{ path('tournois_infos', {'id': tournament.id}) }}">Infos</a>
                    <a href="{{ path('tournois_modifier', {'id': tournament.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournois_nouveau') }}">Nouveau tournois</a>
{% endblock %}
