{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold text-center">Tournois</h1>

    <div class="flex flex-col bg-blue-900">
        <div class="grid grid-cols-1 gap-2 ">
            {% for tournament in tournaments %}
                    <div class="py-2 sm:py-3">
                        <a href="{{ path('tournois_infos', {'id': tournament.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-1 min-w-0">
                                    <p class="text-2xl font-medium text-gray-900 truncate dark:text-white">
                                        {{ tournament.name }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        {{ tournament.dateBeginTournament |date('d F Y H:i')}}
                                    </p>
                                </div>
                                <div class="flex flex-col items-center text-base font-semibold text-green-500 dark:text-white">
                                    {% for key, nbTeam in teamCounts %}
                                        {% if key == tournament.id %}
                                            <div>
                                                {{ nbTeam }} / {{ tournament.nbTeamMax }}
                                            </div>
                                            {% if nbTeam == tournament.nbTeamMax %}
                                                <p>Inscription cloturée</p>
                                            {% else %}
                                                <p>Inscription ouverte</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    <hr class="">
                    </div>
            {% else %}
                <p>Aucun enregistrement trouvé</p>
            {% endfor %}
        </div>
    </div>

    <a class="btn btn-ghost btn-xs" href="{{ path('tournois_nouveau') }}">Nouveau tournois</a>
{% endblock %}
