{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}
{% block body %}
    <h1 class="text-5xl font-bold">Tournament</h1>

    <div class="card bg-black-100 shadow-xl">
        <figure><img class="hero h-em object-cover" src="{{ asset(gameImage) }}" alt="Image du jeux du tournois" /></figure>
        <div class="card-body block">
            <div>
                <h2 class="card-title flex justify-center">
                    {{ tournament.name }}
                    {% if tournament.status == 'Ouvert' %}
                        <div class="badge badge-accent">{{ tournament.status }}</div>
                    {% endif %}
                    {% if tournament.status =='Cloturé' %}
                        <div class="badge badge-primary">{{ tournament.status }}</div>
                    {% endif %}
                    {% if tournament.status == 'Fermé' %}
                        <div class="badge badge-secondary">{{ tournament.status }}</div>
                    {% endif %}
                </h2>
            </div>

            <div class="card-infos block m-7">
                <p class="underline flex justify-center">Règles</p>
                <p class="flex justify-center">{{ tournament.rules }}</p>
            </div>

            <div class="card-infos block m-7">
                <p class="underline flex justify-center">Date début</p>
                <p class="flex justify-center">{{ tournament.dateBeginTournament ? tournament.dateBeginTournament|date('d F Y H:i') : '' }}</p>
            </div>

            <div class="card-infos block m-7">
                <p class="underline flex justify-center">Date limite d'inscription</p>
                <p class="flex justify-center">{{ tournament.dateLimitRegistration ? tournament.dateLimitRegistration|date('d F Y H:i') : '' }}</p>
            </div>

            <div class="card-infos block m-7">
                <p class="underline flex justify-center">Information du tournois</p>
                <p class="flex justify-center"><{{ tournament.tournamentInfo }}</p>
            </div>

            <div class="card-actions flex justify-center">
                <div class="card-infos block">
                    <p class="flex inline-flex">Prix d'entrée :</p>
                    <div class="badge badge-outline flex inline-flex">{{ tournament.entryPrice }}€</div>
                </div>

                <div class="card-infos block">
                    <p class="flex inline-flex">Récompense :</p>
                    <div class="badge badge-outline flex inline-flex">{{ tournament.reward }}€</div>
                </div>
            </div>
        </div>
    </div>

    <a class="text-gold" href="{{ path('tournois_home') }}">Retour au tournois</a>

    <a href="{{ path('tournois_modifier', {'id': tournament.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Modifier</a>

    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% if tournament.dateBeginTournament|date > "now"|date   %}
        <a href="{{ path('tournois_join', {'id': tournament.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Rejoindre</a>
    {% endif %}

    {{ include('tournament/supprimer.html.twig') }}

    <!-- Gestion des parties -->
    <div class="container flex justify-center mx-auto">
        <h1 class="text-5xl font-bold text-gold">Inscrivez votre victoire !</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}


    <!-- Tableau du tournois -->
    <div class="container flex justify-center mx-auto">
        <h1 class="text-5xl font-bold text-gold">Tableau du tournois</h1>
    </div>

    {% if tournament.status == 'Ouvert' %}
        <div class="arbres">
            <div id="arbre1">
                <div class="container flex justify-center mx-auto">
                    <h2 class="text-4xl font-bold text-gold">Round 1</h2>
                </div>
                <div class="round1">
                    {% for team in teams %}
                        <div class="equipeShuffled" id="{{ loop.index }}">
                            <div class= text-gold">
                                <span id="equipeGagnante" class="mask mask-squircle w-12 h-12"><img src="{{ asset(team.picture) }}" alt="{{ team }}"/></span>
                                <p>{{ team }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="round2">
                <div class="container flex justify-center mx-auto">
                    <h2 class="text-4xl font-bold text-gold">Round 2</h2>
                </div>
                {% for teamId, position in teamPositions %}
                    {% set team = teams[position] %}
                    <div class="equipe">
                        <div class="text-gold mb-10">
                        <span class="mask mask-squircle w-12 h-12">
                            <img src="{{ asset(team.picture) }}" alt="{{ team.name }}" />
                        </span>
                            <p>{{ team.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="round3">
                <div class="container flex justify-center mx-auto">
                    <h2 class="text-4xl font-bold text-gold">Round 3</h2>
                </div>
{#                {% for teamId, position in teamPositions %}
                    {% set team = teams[position] %}
                    <div class="finaliste">
                    <span class="mask mask-squircle w-12 h-12">
                        <img src="{{ asset(team.picture) }}" alt="{{ team.name }}"/>
                    </span>
                        <p>{{ team.name }}</p>
                    </div>
                {% endfor %}#}
            </div>
            <div class="round4">
                <div class="container flex justify-center mx-auto">
                    <h2 class="text-4xl font-bold text-gold">Winner</h2>
                </div>
                <div class="gagnant">

                </div>
            </div>
        </div>
    {% endif %}
    <br>

    {#                        <form method="post" action="{{ path('tournois_infos', {'id': tournament.id}) }}">#}
    {#                            <input type="hidden" name="result[winnerTeam]" value="{{ teams[i + 1] }}">#}
    {#                            <button type="submit">#}
    {#                                <img class="w-8 h-8" src="{{ asset('build/images/tick.svg') }}" alt="validation">#}
    {#                            </button>#}
    {#                        </form>#}

{% endblock %}
