{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <h1>Tournament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du tournois</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Règles</th>
                <td>{{ tournament.rules }}</td>
            </tr>
            <tr>
                <th>Date de début du tournois</th>
                <td>{{ tournament.dateBeginTournament ? tournament.dateBeginTournament|date('d F Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ tournament.dateCreation ? tournament.dateCreation|date('d F Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ tournament.dateEndTournament ? tournament.dateEndTournament|date('d F Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ tournament.dateLimitRegistration ? tournament.dateLimitRegistration|date('d F Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'équipe maximum</th>
                <td>{{ tournament.nbTeamMax }}</td>
            </tr>
            <tr>
                <th>Informations du tournois</th>
                <td>{{ tournament.tournamentInfo }}</td>
            </tr>
            <tr>
                <th>Prix d'entrée</th>
                <td>{{ tournament.entryPrice }}€</td>
            </tr>
            <tr>
                <th>Récompense 🤑</th>
                <td>{{ tournament.reward }}€</td>
            </tr>
        </tbody>
    </table>

    <div>
        {% for equipe in teams %}
            {{ equipe.name }}
        {% endfor %}
    </div>

    <a href="{{ path('tournois_home') }}">Retour au tournois</a>

    <a href="{{ path('tournois_modifier', {'id': tournament.id}) }}">Modifier</a>

    <a href="{{ path('tournois_join', {'id': tournament.id}) }}">Rejoindre</a>

    {{ include('tournament/supprimer.html.twig') }}

    <!-- Tableau du tournois -->

    <div class="container flex justify-center">
        <h1 class="text-5xl font-bold">Tableau du tournois</h1>
    </div>
        <div class="arbres">
            <div id="arbre1">
                <div class="round1">
                    {% for i in 0..(teams|length-1) %}
                        {% set team1 = teams[i] %}
                        {% set nextIndex = i + 1 %}
                        {% if nextIndex < teams|length-1 %}
                            {% set team2 = teams[nextIndex] %}
                            <div class="equipe">
                                <p> <span class="mask mask-squircle w-12 h-12"><img src="{{ asset(team1.picture) }}" alt="{{ team1 }}"/></span>{{ team1 }}</p>
                                <span>VS</span>
                                <p><span class="mask mask-squircle w-12 h-12"><img src="{{ asset(team2.picture) }}" alt="{{ team2 }}"/></span>{{ team2 }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="round2">
                <div class="equipe">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                    <span>VS</span>
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                </div>
                <div class="equipe">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                    <span>VS</span>
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                </div>
            </div>
            <div class="round3">
                <div class="finaliste">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe finaliste</p>
                </div>
                <span>VS</span>
                <div class="finaliste">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe finaliste</p>
                </div>
            </div>

            <div class="round4">
                <div class="gagnant">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>Winner !</p>
                </div>
            </div>
        </div>
    <br>

{% endblock %}
