{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold">{{ tournament.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du tournois</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Règles</th>
                <td>{{ tournament.rules }}</td>
            </tr>
            <tr>
                <th>Date de début du tournois</th>
                <td>{{ tournament.dateBeginTournament ? tournament.dateBeginTournament|date('d F Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ tournament.dateLimitRegistration ? tournament.dateLimitRegistration|date('d F Y H:i') : '' }}</td>
            </tr>
            {#
            <tr>
                <th>Date de création</th>
                <td>{{ tournament.dateCreation ? tournament.dateCreation|date('d F Y H:i') : '' }}</td>
            </tr>
                <tr>
                    <th>Date de fin</th>
                    <td>{{ tournament.dateEndTournament ? tournament.dateEndTournament|date('d F Y H:i') : '' }}</td>
                </tr>
            <tr>
                <th>Nombre d'équipe maximum</th>
                <td>{{ tournament.nbTeamMax }}</td>
            </tr>
            #}
            <tr>
                <th>Informations du tournois</th>
                <td>{{ tournament.tournamentInfo }}</td>
            </tr>
            <tr>
                <th>Prix d'entrée</th>
                <td>{{ tournament.entryPrice }}€</td>
            </tr>
            <tr>
                <th>Récompense 🤑</th>
                <td>{{ tournament.reward }}€</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tournois_home') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Retour au tournois</a>

    <a href="{{ path('tournois_modifier', {'id': tournament.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Modifier</a>
    {% if tournament.dateBeginTournament|date < "now"|date   %}
        <a href="{{ path('tournois_join', {'id': tournament.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Rejoindre</a>
    {% endif %}

    {{ include('tournament/supprimer.html.twig') }}

    <!-- Résultats parties-->
    <div class="container flex justify-center">
        <h1 class="text-5xl font-bold">Résultats des parties</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <!-- Tableau du tournois -->

    <div class="container flex justify-center">
        <h1 class="text-5xl font-bold">Tableau du tournois</h1>
    </div>
        <div class="arbres">
            <div id="arbre1">
                <div class="round1">
                    {% for i in range(0, teams|length - 1, 2) %}
                        <div class="equipeShuffled">
                            <p><span class="mask mask-squircle w-12 h-12"><img src="{{ asset(teams[i].picture) }}" alt="{{ teams[i] }}"/></span>
                                {{ teams[i] }}
                            </p>
                        </div>
                        <div class="equipeShuffled2">
                            <p><span class="mask mask-squircle w-12 h-12"><img src="{{ asset(teams[i + 1].picture) }}" alt="{{ teams[i + 1] }}"/></span>
                                {{ teams[i + 1] }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="round2">
                <div class="equipe">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                </div>
                <div class="equipe">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe gagnante 1</p>
                </div>
            </div>
            <div class="round3">
                <div class="finaliste">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe finaliste</p>
                </div>
                <div class="finaliste">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>équipe finaliste</p>
                </div>
            </div>

            <div class="round4">
                <div class="gagnant">
                    <p><span class="mask mask-squircle w-12 h-12"><img src="" alt=""/></span>Winner !</p>
                </div>
            </div>
        </div>
    <br>

{% endblock %}
