<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://flowbite.com/docs/flowbite.min.js"></script>
            <script src="https://flowbite.com/docs/datepicker.min.js"></script>
        {% endblock %}
    </head>

    <body>
    <header>
            <div class="connect">
                {% if not app.user %}
                    <li><a href="{{ path('security_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('registration_register') }}">S'enregistrer</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('security_logout') }}">Se déconnecter - Bonjour {{ app.user.username }} !</a></li>
                    <li><a href="{{ path('profil_infos') }}">Profil</a></li>
                {% endif %}
            </div>
            <div>
                <li><a href="{{ path('public_home') }}">Accueil</a></li>
                <li><a href="{{ path('tournois_home') }}">Tournois</a></li>
                <li><a href="{{ path('video_game_index') }}">Jeux</a></li>
                <li><a href="{{ path('_liste') }}">Equipe</a></li>
            </div>
    </header>
        {% block body %}

            {% block profil %}
            {% endblock %}

        {% endblock %}
    </body>
</html>
