{% extends 'base.html.twig' %}

{% block title %}Jeux vidéo{% endblock %}

{% block body %}

    <h1 class="mb-4 text-5xl font-bold text-gray-900 dark:text-white text-center">Nos Jeux</h1>


    <div class="grid grid-cols-4 gap-6 place-content-center m-5">
        {% for video_game in video_games %}

            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
                <a href="{{ path('video_game_show', {'id': video_game.id}) }}">
                    <div>
                        <img class="rounded-t-lg" src="{{ asset(video_game.picture) }}" alt="" />
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ video_game.name }}</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ video_game.rules }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
                <p>Aucun résultats</p>
        {% endfor %}
    </div>
    {#
        <a href="{{ path('video_game_new') }}">Ajouter un nouveau jeu</a>
    #}
{% endblock %}
