{% extends 'base.html.twig' %}

{% block title %}jeu video{% endblock %}

{% block body %}
    <h1>Jeu video</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ video_game.name }}</td>
            </tr>
            <tr>
                <th>Jeu en ligne</th>
                <td>{{ video_game.isOnline ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Nombre d'équipe par partie</th>
                <td>{{ video_game.nbTeam }}</td>
            </tr>
            <tr>
                <th>Règles du jeu</th>
                <td>{{ video_game.rules }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('video_game_index') }}">Retour</a>

    <a href="{{ path('video_game_edit', {'id': video_game.id}) }}">Modifier</a>

    {{ include('video_game/_delete_form.html.twig') }}
{% endblock %}
