{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
    <div class="container flex justify-center">
        <h1 class="text-5xl font-bold">{{team.name}}</h1>
    </div>
    <div class="mb-6">
        {{ include('components/boutons/button_back.html.twig') }}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom de l'équipe</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>{{ team.nbPlayer }}</td>
            </tr>
            <tr>
                <th>Bio de l'équipe</th>
                <td>{{ team.bio }}</td>
            </tr>
            <tr>
                <th>Liste des joueurs : </th>
                <td>
                    {% for user in team.user %}
                        {{ user.username }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="mt-6 flex">
        {% if leaderId == userId %}
            {{ include('components/boutons/button_edit.html.twig')}}
        {% endif %}

        {{ include('components/boutons/button_join.html.twig')}}

        {% if leaderId == userId %}
            {{ include('equipe/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
