{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <div class="container flex justify-center">
        <h1 class="text-5xl font-bold text-center">Liste des équipes</h1>
    </div>

    <div class="overflow-x-auto">
        <table class="table container flex">
            <thead>
                <tr>
                    <th class="text-gold text-lg">Nom d'équipe</th>
                    <th class="text-gold text-lg">Nombre de joueurs</th>
                    <th class="text-gold text-lg">Bio de l'équipe</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="text-gold text-lg">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr class="team-row" data-url="{{ path('_detail', {'id': team.id}) }}">
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="{{ asset(team.picture) }}" alt="{{ team.name }}"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">{{ team.name }}</div>
                                </div>
                            </div>
                        </td>
                        <td>{{ team.nbPlayer }}</td>
                        <td>{{ team.bio }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-ghost btn-xs" href="{{ path('_modification', {'id': team.id}) }}">Modifier l'équipe</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-ghost btn-xs" href="{{ path('_enregistrement') }}">Créer une nouvelle équipe</a>
    {% endif %}
{% endblock %}

