{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div>
                <div class="divMess">
                    <div class="messFlash">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <img class="logo h-48 w-50 rounded-3xl flex justify-center" src="{{ asset('build/images/Logo.tournament.png') }}" alt="Logo de la multinationnal">




    <div
        id="carouselDarkVariant"
        class="relative"
        data-te-carousel-init
        data-te-ride="carousel">
        <!-- Carousel indicators -->
        <div
            class="absolute inset-x-0 bottom-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
            data-te-carousel-indicators>
            <button
                data-te-target="#carouselDarkVariant"
                data-te-slide-to="0"
                data-te-carousel-active
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true"
                aria-label="Slide 1"></button>
            <button
                data-te-target="#carouselDarkVariant"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                data-te-slide-to="1"
                aria-label="Slide 1"></button>
            <button
                data-te-target="#carouselDarkVariant"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-black bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                data-te-slide-to="2"
                aria-label="Slide 1"></button>
        </div>

        <!-- Carousel items -->
        <div
            class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
            {% block content %}
                <!-- Boucle sur les tournois -->
                {% for key, tournament in tournaments %}
                    <div class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
                         data-te-carousel-fade
                         data-te-carousel-item
                         {% if loop.first %}data-te-carousel-active{% endif %}>
                        <img class="block w-full rounded-3xl filter blur-sm" src="{{ asset(gameImages[key]) }}"
                             class="infos-carou block w-full"
                             alt="Image {{ tournament.name }}" />
                        <div class="[text-shadow:_2px_2px_2px_rgb(0_0_0)]">
                            <div class="infos-carou absolute inset-x-[15%] bottom-32 hidden py-5 text-center text-black md:block">
                                <h5 class="text-3xl [text-shadow:_2px_2px_2px_rgb(0_0_0)]">{{ tournament.name }}</h5>
                            </div>
                            <div class="infos-carou absolute inset-x-[15%] bottom-16 hidden py-5 text-center text-black md:block">
                                <h5 class="text-xl [text-shadow:_2px_2px_2px_rgb(0_0_0)]">Information du tournois :</h5>
                                <p>{{ tournament.tournamentInfo }}</p>
                            </div>
                            <div class="infos-carou absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-black md:block">
                                <p class="text-xl [text-shadow:_2px_2px_2px_rgb(0_0_0)]">{{ teamCounts[tournament.id] }} équipes inscrites</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        <!-- Carousel controls - prev item-->
        <button
            class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-te-target="#carouselDarkVariant"
            data-te-slide="prev">
    <span class="inline-block h-8 w-8 dark:grayscale">
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-16 w-16">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
            >Previous</span
            >
        </button>
        <!-- Carousel controls - next item-->
        <button
            class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-black hover:no-underline hover:opacity-90 hover:outline-none focus:text-black focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-te-target="#carouselDarkVariant"
            data-te-slide="next">
    <span class="inline-block h-8 w-8 dark:grayscale">
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-16 w-16">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
            >Next</span
            >
        </button>
    </div>
{% endblock %}
