{{ form_start(form) }}
    {{ form_start(form) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.username) }}
    {{ form_widget(form.lastname) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.phoneNumber) }}
    {{ form_widget(form.picture) }}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
